






<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- <link href="/templates/default/style/danye.css" rel="stylesheet" type="text/css" /> -->
<script typet="text/javascript" src="/templates/default/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/templates/default/js/js.js" ></script>
<link href="/templates/default/style/index.css" rel="stylesheet" type="text/css" />
<meta name="baidu-site-verification" content="njcHFpzVdV" />
<meta name="360-site-verification" content="8f27e50d940946ae0536308b9f09be05" />
<meta name="google-site-verification" content="M1pKA0S0CDdx0ZvApQzaD0I9Bp6OKGHmUK9XZc9JqrY" />
    <!-- 标题 -->
    <title>联系我们_太原门店装修_酒店装修-晨风佳艺装饰工程有限公司</title>


            <!-- 描述 -->
                    <meta name="description" content="欢迎您联系晨风装饰，我们为客户提供太原专业的工装装修，24小时咨询电话:400 6696 658">
                <!-- 关键词 -->
                    <meta name="keywords" content="晨风公装,晨风佳艺,晨风装饰,晨风装修,山西装修,山西装饰,郑州装修,郑州装饰,郑州公装,山西公装">
            
<!--[if IE 6]>
<script type="text/javascript" src="png.js"></script>
<script>
PNG.fix('*');
</script><![endif]-->
</head>
<body>
<!--头部 开始-->
<script type="text/javascript">

// 自适应
$(function(){
    var wid=$(window).width();
    var he=wid/1920*472;
    $(".banner").css("height",he);
    $(".banner").css("margin","0 auto");
    $(".banner img").css("width",wid);
    $(".banner img").css("height",he);
    // alert(wid);
})
</script>

<div class="header">
    <div style="width:100%;background: #414141;">
       <div class="headYI">
         
            <div class="heaYIleft"><div class="heaYIleft">
	<span style="color:#FFFFFF;">晨风公装为公装装修业主提供专业的</span><a href="../gcal/024.html" target="_blank"><span style="color:#FFFFFF;">办公室装修</span></a><span style="color:#FFFFFF;">、</span><a href="../gcal/004.html" target="_blank"><span style="color:#FFFFFF;">商铺装修</span></a><span style="color:#FFFFFF;">、</span><a href="../gcal/023.html" target="_blank"><span style="color:#FFFFFF;">餐饮装修</span></a><span style="color:#FFFFFF;">、</span><a href="http://www.cfjyzs.cn" target="_blank"><span style="color:#FFFFFF;">酒店装修</span><span style="color:#FFFFFF;">、KTV装修、医院装修、</span></a><a href="http://www.cfjyzs.cn" target="_blank"><span style="color:#FFFFFF;">幼儿园装修</span></a><span style="color:#FFFFFF;">、</span><a href="http://www.cfjyzs.cn" target="_blank"><span style="color:#FFFFFF;">教育培训机构装修</span></a><span style="color:#FFFFFF;">等设计、施工、报价预算、售后服务</span> 
</div> </div> 
            <div class="heaYIright">
                 
                  <!-- <span>咨询热线 : <span>0351-8366116</span><span>(太原)</span></span>&nbsp;&nbsp;
                  </span>&nbsp;&nbsp; -->
                    <!-- <a href="index.php?p=user">
                    	<span>登录</span>
                    </a> 
                    <span> | </span>
                    <a href="index.php?p=user_reg">
                    	<span>注册</span>
                    </a>  -->
                      
                <div class="cl"></div>  
            </div>
            <div class="cl"></div> 
       </div>
    </div>
    <div class="head_logo">
    	<div class="head_logo_con">
    		<div class="head_logo_left fl">
    			<a href="/" class="logo1"><img src="../uploadfile/image/20170921/20170921102743_52039.png"></a> 
    		</div>
            <div class="head_gundong_left fl">
                <ul class="head_gundong_ul">
                	
                    <li class="head_gun_lia">
                        设计施工一体化
                    </li>
                    
                    <li class="head_gun_lib">
                        全案智能工装设计专家
                    </li>
                    <li class="head_gun_lia">
                        设计施工一体化
                    </li>
                    <li class="head_gun_lib">
                        全案智能工装设计专家
                    </li>
                </ul>
                <!-- <img src="/templates/default/images/gundong.gif" alt=""> -->
            </div>
            <script>
                // setInterval(function(){
                //     $('.head_gundong_ul li').eq(0).appendTo($(".head_gundong_ul"));
                // },3000);
            </script>
    		<div class="head_logo_sousuo fl">
                <form action="/index.php?p=seach_list" method="post" onSubmit="return check_seachkey()" class="kui1" enctype="multipart/form-data">
    			<div class="sousuo_type fl">
    				<div class="sousuo_type_list">
                        <select name="anli" id="">
                            <option value="27">工程案例</option>
                            <option value="2">设计团队</option>
                            <option value="1">装修知识</option>
                            <option value="37">在施工程</option>
                        </select>
                        <div class="sanjiao">
                            ▼
                        </div>
    				</div>
    			</div>
    			<div class="sousuo_input fl">
                    <input name="key" placeholder="输入您想要查找的内容" id="seach_key" class="shurukuan" type="text">
    			</div>
    			<div class="sousuo_submit fl">
    				<input type="submit" value="搜索">
    			</div>
    			<div class="cl"></div>
                </form>
    		</div>
    		<div class="head_logo_rexian fr">
    			<div class="head_logo_rexian_nth fl">
    				<img src="/templates/default/images/dianhua_nth.png" alt="">
    			</div>
    			<div class="head_logo_rexian_tell fl">
                     
    				<p>
    					<span class="rexian_tell"><strong><span>400 669 6658</span></strong></span>
    					<!-- <span class="rexian_dizhi"></span> -->
    				</p>
                    <!--  
    				<p>
    					<span class="rexian_tell"><br /></span>
                        <span class="rexian_dizhi"></span>
    				</p> -->
    			</div>
    			<div class="cl"></div>
    		</div>
    		<div class="cl"></div>
    	</div>
    </div>
    <div class="head_lanmu">
    	<div class="head_lanmu_con">
            <div class="cl"></div>
    		<ul class="head_lanmu_ul">
	            
	            <li>
	                <a href="http://www.cfjyzs.cn/" >
	                	<div class="lanmu_list">
	                		首页
	                	</div>
	                </a>
	            </li> 
	            	            <li>
	                <a href="/gsjj">
	                	<div class="lanmu_list">
	                    	公司简介
	                    </div>
	                </a>
	            </li> 
	            	            <li>
	                <a href="/gcal">
	                	<div class="lanmu_list">
	                    	工程案例
	                    </div>
	                </a>
	            </li> 
	            	            <li>
	                <a href="/sjtd">
	                	<div class="lanmu_list">
	                    	设计团队
	                    </div>
	                </a>
	            </li> 
	            	            <li>
	                <a href="/zxzs">
	                	<div class="lanmu_list">
	                    	装修知识
	                    </div>
	                </a>
	            </li> 
	            	            <li>
	                <a href="/zsgc">
	                	<div class="lanmu_list">
	                    	在施工程
	                    </div>
	                </a>
	            </li> 
	            	            <li>
	                <a href="/fwlc">
	                	<div class="lanmu_list">
	                    	服务流程
	                    </div>
	                </a>
	            </li> 
	            	            <li>
	                <a href="/lxwm">
	                	<div class="lanmu_list">
	                    	联系我们
	                    </div>
	                </a>
	            </li> 
	              
	            <div class="cl"></div>
            </ul>
    	</div>
    </div>
	

   <div class="head_banner">
        <div id="slideBox" class="slideBox">
            <div class="hd">
                <ul> 
                </ul>
            </div>
            <div class="bd">
                <ul>
                                    
                                                        <li>
                        <a href="/">
                            <img src="../uploadfile/image/20170913/20170913170033_83916.png" alt="太原装修公司">
                        </a>
                    </li>
                                    </ul>
            </div>
            <script>
                var bann=0;
                $(".bd ul li").each(function(){
                    bann++;
                });
                $(".bd ul li").each(function(){
                    if(bann>1){
                        $(".hd ul").append("<li></li>");
                    }
                });
                jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true,effect:"fade",/*滚动方式*/delayTime:1500,/*滚动速度*/interTime:5000,/*滚动间隔*/});
                $(document).ready(function(){
                    var b_width=(-$(".hd").width())/2+'px';
                    $(".hd").css({'margin-left':b_width});
                    $(".hd").show();
                })

            </script>         
    </div>
</div>
<script>
    $('.logo1 img').attr({'alt':'太原晨风公装logo'});
    
</script>
<!--头部 结束-->  
<!--内容 开始-->
<!-- <div class="erjitit">
  
    <div class="ertitcon">
        <div class="erjititle">联系我们</div>
        <div class="erjititre">
         
                        <div class="newsa">
                <a href="index.php?p=about&id=127&lanmu=38" >联系我们</a>
                <div class="newsb"></div>
                <div class="cl"></div>
            </div>
             
        </div>
    </div>
</div> -->
<div class="h35"></div>
<div class="erjicon">
    <div class="mrb">
        <div class="mrb_top">
            
            <div class="mrb_topa fl"></div>
            <div class="mrb_topb fl">
                联系我们
            </div>
            <div class="mrb_topc fr">
                <span>
                    您现在所在的位置：
                    <a href="http://www.cfjyzs.cn">太原装修</a>
                     > 
                </span>
                <span class="about_top_daohan">
                    <span>联系我们</span>
                </span>
            </div>
            <div class="cl"></div>
        </div>
                    <div class="mrb_con">
                <p>
	<span style="font-size:14px;"><a href="http://www.cfjyzs.cn" target="_blank">晨风装饰工程有限公司</a>（山西公司）<a href="http://www.cfjyzs.cn" target="_blank"><img src="../uploadfile/image/20171027/20171027015646_52456.png" alt="山西晨风装饰" width="300" height="212" title="山西晨风装饰" align="right" /></a></span> 
</p>
<p>
	<span style="font-size:14px;">装修咨询：400-669-6658</span>
</p>
<p>
	<span style="font-size:14px;">电话：0351-8366116</span>
</p>
<p>
	<span style="font-size:14px;">邮箱：1396882866@qq.com</span> 
</p>
<p>
	<span style="font-size:14px;">地址：<span style="font-family:Arial, Helvetica, SimSun, sans-serif;line-height:20px;background-color:#FFFFFF;">山西省太原市小店区亲贤北街茂业中心19层</span></span> 
</p>
<p>
	<br />
</p>
<p>
</p>
<p>
	<br />
</p>
<p>
	<br />
</p>
<p>
	<br />
</p>
<hr />
<p>
	<br />
</p>
<p>
	<a href="http://www.cfjyzs.cn" target="_blank"><img src="http://www.cfjyzs.cn/uploadfile/image/20171027/20171027015842_79521.png" alt="郑州晨风装饰" width="300" height="198" title="郑州晨风装饰" align="right" /></a> 
</p>
<p>
	<span style="font-size:14px;"><a href="http://www.cfjyzs.cn" target="_blank">晨风装饰工程有限公司</a>（郑州公司）</span> 
</p>
<p>
	<span style="font-size:14px;">固话：0371-61316950</span>
</p>
<p>
	<span style="font-size:14px;">联系人：王经理</span> 
</p>
<p>
	<span style="font-size:14px;">地址 ：郑州市金水区紫荆山路与东里路交叉口紫金城大厦2103室</span> 
</p>
<p>
	<br />
</p>
<p>
	<br />
</p>
            </div>
             
    </div>
    <div class="erjigong">
        <script type="text/javascript">
function newgdcode(obj,url) {
  obj.src = url+ '&nowtime=' + new Date().getTime();//后面传递一个随机参数，否则在IE7和火狐下，不刷新图片
}
// 表单提交客户端检测
function Isyx(yx){
  var reyx= /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
  return(reyx.test(yx));
}
function doSubmits(){
     var name = $('#lc_name').val();
     var tel = $('#lc_tel').val();
        if (name==""){
        alert("亲，请填写姓名！");
            document.getElementById("lc_name").focus();
            return false;
        }
        if (tel==""){
        alert("亲，请填写联系电话！");
            document.getElementById("lc_tel").focus();
            return false;
        }
        var reg =/(^0{0,1}1[3|4|5|6|7|8|9][0-9]{9}$)/; 
        if(!reg.test(document.getElementById("lc_tel").value)){ 
        alert("亲，请输入正确的联系电话！");
            document.getElementById("lc_tel").focus();
            return false; 
        }
      return true;
      if (document.getElementById("lc_lp").value==""){
    alert("亲，请填写所在楼盘！");
        document.getElementById("lc_lp").focus();
        return false;
    }
      if (document.getElementById("lc_mj").value==""){
    alert("亲，请填写楼盘面积！");
        document.getElementById("lc_mj").focus();
        return false;
    }
  return true;
}

</script>
<div class="erjisheji">
    <div class="erjishetit">栏目类别</div>
    <div class="zailiu-left">
      <div class="zuixin_type">
            <ul>
                
                                <li>
                  
                  
                                      <a href="/lxwm/127.html"  style="">
                  
                        <div class="zuixin_tit fl">
                          联系我们
                        </div>
                        <div class="zuixin_tit_nth fr">
                          >
                        </div>
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
</div>
<div class="h24"></div>




<div class="erjisheji">
    <div class="erjishetit">免费预约设计</div>
    <div class="h27"></div>
    <div class="zailiu-left">
        <form action="index.php?a=gbook_save" method="post" name="myform" onSubmit="return doSubmits()">
            <div class="zailiu-1">
                <span style="color:#484848;font-size:14px;">姓&nbsp;名&nbsp;:&nbsp;</span>
                <input type="text" name="lc_name" id="lc_name" class="main_bd" required >
                <div class="cl"></div>
            </div>
           <div class="zailiu-1">
               <span style="color:#484848;font-size:14px;">手&nbsp;机&nbsp;:&nbsp;</span>
               <input type="text" name="lc_tel" id="lc_tel" class="main_bd" required >
               <div class="cl"></div>
           </div>
           <div class="zailiu-1">
               <span style="color:#484848;font-size:14px;"><!-- 楼盘 -->地&nbsp;址&nbsp;:&nbsp;</span>
               <input type="text" name="lc_lp" id="lc_lp" class="main_bd" required >
               <div class="cl"></div>
           </div>
           <div class="zailiu-1">
               <span style="color:#484848;font-size:14px;">面&nbsp;积&nbsp;:&nbsp;</span>
               <input type="text" name="lc_mj" id="lc_mj" class="main_bd" required >
               <div class="cl"></div>
           </div>
           <input type="hidden" name="lanmu" value="26">
           <div class="h10"></div>
           <div class="main_but-1">
              <input type="submit" id="tijiao-ER" value="立即预约" onClick="return doSubmits();">
           </div>
       </form>
    </div>
</div>
<div class="h24"></div>
<div class="erjizuian">
    <div class="erjishetit">最新案例</div>
    <div class="zuixin">
        <div class="h15"></div>
        <div class="zuixinER">
            <ul>
                
                                <li class="yiu">
                    <a href="/gcal/024216.html">
                        <span>太原和平公园艺术馆装修效果图</span>
                        <!-- <p>㎡</p> -->
                        <div class="cl"></div>
                        <div class="h5"></div>
                        <div class="xinYIimg" >
                            <img src="/uploadfile/image/20180411/20180411170117_35205.jpg" style="width:100%;height:184px;" title="太原和平公园艺术馆装修效果图" alt="太原和平公园艺术馆装修效果图">
                        </div>
                    </a>
                </li>
                              <li class="yiu">
                    <a href="/gcal/003214.html">
                        <span>博士视觉眼镜店装修效果图</span>
                        <!-- <p>㎡</p> -->
                        <div class="cl"></div>
                        <div class="h5"></div>
                        <div class="xinYIimg" >
                            <img src="/uploadfile/image/20171229/20171229031639_15028.jpg" style="width:100%;height:184px;" title="博士视觉眼镜店装修效果图" alt="博士视觉眼镜店装修效果图">
                        </div>
                    </a>
                </li>
                              <li class="yiu">
                    <a href="/gcal/003213.html">
                        <span>婵静瑜伽店装修效果图</span>
                        <!-- <p>㎡</p> -->
                        <div class="cl"></div>
                        <div class="h5"></div>
                        <div class="xinYIimg" >
                            <img src="/uploadfile/image/20171229/20171229024710_16492.jpg" style="width:100%;height:184px;" title="婵静瑜伽店装修效果图" alt="婵静瑜伽店装修效果图">
                        </div>
                    </a>
                </li>
                              <li class="yiu">
                    <a href="/gcal/004212.html">
                        <span>TANG STUDIO服装店装</span>
                        <!-- <p>㎡</p> -->
                        <div class="cl"></div>
                        <div class="h5"></div>
                        <div class="xinYIimg" >
                            <img src="/uploadfile/image/20171225/20171225063510_33936.jpg" style="width:100%;height:184px;" title="TANG STUDIO服装店装" alt="TANG STUDIO服装店装">
                        </div>
                    </a>
                </li>
                              <li class="yiu">
                    <a href="/gcal/023211.html">
                        <span>奉茶奶茶店装修效果图</span>
                        <!-- <p>㎡</p> -->
                        <div class="cl"></div>
                        <div class="h5"></div>
                        <div class="xinYIimg" >
                            <img src="/uploadfile/image/20171225/20171225062243_45787.jpg" style="width:100%;height:184px;" title="奉茶奶茶店装修效果图" alt="奉茶奶茶店装修效果图">
                        </div>
                    </a>
                </li>
               
            </ul>
            <script>
                $('.yiu').find('.xinYIimg').hide();
                $('.yiu').eq(0).find('.xinYIimg').show();
                $('.yiu').hover(function(){
                    $('.yiu').find('.xinYIimg').hide();
                    $(this).find('.xinYIimg').show();
                })

            </script>
        </div>
    </div>
</div>
    </div>

    <div class="cl"></div>
</div>
<div class="h50"></div>
<!--内容 结束-->
<!--底部 开始-->
<div class="foot">
	<div class="footYI">
		<div class="footliu">
			<div class="footliucon">
				<ul style="height:107px">
					<li style="margin-left:0;line-height:107px;vertical-align:middle">
						<a href="javascript:;">
							<img class="fl" style="margin-top:35px" src="/templates/default/images/bot_nth1.png">
							<span style="color:#fff;font-size:18px;float:left;line-height:117px">预约咨询</span>
							<span style="color:#fff;float:right;font-size:18px;line-height:117px">></span>
							<div class="cl"></div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img class="fl" style="margin-top:35px" src="/templates/default/images/bot_nth2.png">
							<span style="color:#fff;font-size:18px;float:left;line-height:117px">上门量房</span>
							<span style="color:#fff;float:right;font-size:18px;line-height:117px">></span>
							<div class="cl"></div>
						</a>
					</li>
					<li>
						<a href="/gcal">
							<img class="fl" style="margin-top:35px" src="/templates/default/images/bot_nth3.png">
							<span style="color:#fff;font-size:18px;float:left;line-height:117px">方案设计</span>
							<span style="color:#fff;float:right;font-size:18px;line-height:117px">></span>
							<div class="cl"></div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img class="fl" style="margin-top:35px" src="/templates/default/images/bot_nth4.png">
							<span style="color:#fff;font-size:18px;float:left;line-height:117px">施工安装</span>
							<span style="color:#fff;float:right;font-size:18px;line-height:117px">></span>
							<div class="cl"></div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img class="fl" style="margin-top:35px" src="/templates/default/images/bot_nth5.png">
							<span style="color:#fff;font-size:18px;float:left;line-height:110px">竣工验收</span>
							<span style="color:#fff;float:right;font-size:18px;line-height:110px">></span>
							<div class="cl"></div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img class="fl" style="margin-top:35px" src="/templates/default/images/bot_nth6.png">
							<span style="color:#fff;font-size:18px;float:left;line-height:110px">免费售后</span>
							<div class="cl"></div>
						</a>
					</li>
					<div class="cl"></div>
				</ul>
			</div>
		</div>
	</div>
	<div class="foot_con">
		<div class="foot_cons">
			<div class="foot_cons_left fl">
				<div class="foot_cons_left_top">
					<!-- 
					<span>
						<a target="_blank" href="http://wpa.qq.com/msgrd?V=1&uin=&Site=QQ">
						<img src="/templates/default/images/qq.png" alt="">
						</a>
					</span>
					<span style="margin-left:10px;">
						<a href="/index?#yy">
						<img src="/templates/default/images/liuyan.png" alt="">
						</a>
					</span> -->
				</div>
				<div class="foot_cons_left_bot">
					<ul class="foot_cons_left_ul">
						
			            <li>
			                <a href="http://www.cfjyzs.cn/" >
			                	<div class="foot_luanmu">
			                		首页
			                	</div>
			                </a>
			            </li> 
			            			            <li>
			                <a href="/gsjj" >
			                	<div class="foot_luanmu">
			                    	公司简介
			                    </div>
			                </a>
			            </li> 
			            			            <li>
			                <a href="/gcal" >
			                	<div class="foot_luanmu">
			                    	工程案例
			                    </div>
			                </a>
			            </li> 
			            			            <li>
			                <a href="/sjtd" >
			                	<div class="foot_luanmu">
			                    	设计团队
			                    </div>
			                </a>
			            </li> 
			            			            <li>
			                <a href="/zxzs" >
			                	<div class="foot_luanmu">
			                    	装修知识
			                    </div>
			                </a>
			            </li> 
			            			            <li>
			                <a href="/zsgc" >
			                	<div class="foot_luanmu">
			                    	在施工程
			                    </div>
			                </a>
			            </li> 
			            			            <li>
			                <a href="/fwlc" >
			                	<div class="foot_luanmu">
			                    	服务流程
			                    </div>
			                </a>
			            </li> 
			            			            <li>
			                <a href="/lxwm" >
			                	<div class="foot_luanmu">
			                    	联系我们
			                    </div>
			                </a>
			            </li> 
			              
			            <!-- <li>
			                <a href="index.php?p=about&lanmu=9" >
			                	<div class="foot_luanmu">
			                    	装修贷
			                    </div>
			                </a>
			            </li> 
			            <li>
			                <a href="index.php?p=products_list&lanmu=39" >
			                	<div class="foot_luanmu">
			                    	装修商城
			                    </div>
			                </a>
			            </li>  -->
			            <li>
			                <a href="http://www.cfjyzs.cn/sitemap.xml" >
			                	<div class="foot_luanmu">
			                		网站地图
			                	</div>
			                </a>
			            </li> 			
			            <div class="cl"></div>
					</ul>
				</div>
			</div>
			<div class="foot_cons_rgh fr">
				<div class="foot_cons_rgh_con">
					
					<div class="foot_cons_rgh_con_left fl">
						<img src="../uploadfile/image/20170915/20170915035203_53843.jpg" alt="" width="91" height="91" title="" align="" />
					</div>
					<div class="foot_cons_rgh_con_rgh fl">
						<p style="margin-top:20px;">扫一扫</p>
						<p>关注微信二维码</p>
					</div>
					<div class="cl"></div>
				</div>
			</div>
			<div class="cl"></div>
		</div>
	</div>
	<!-- <div class="foot_link">
		<ul class="foot_link_ul">
		
			<li>
				友情链接：
			</li>
									<li>
				<a href="http://www.cfjyzs.cn" target="_blank">
					太原装修公司
				</a>
			</li>
						<li>
				<a href="http://product.17house.com/ " target="_blank">
					建材产品大全
				</a>
			</li>
						<li>
				<a href="http://qingyuan.haogongzhang.com/" target="_blank">
					清远工长
				</a>
			</li>
						<li>
				<a href="http://www.3dsix.cn" target="_blank">
					山西网站优化
				</a>
			</li>
						<li>
				<a href="http://yq.zxdyw.com/" target="_blank">
					阳泉装修
				</a>
			</li>
						<li>
				<a href="http://www.xiyuzs.com/" target="_blank">
					上海装饰公司
				</a>
			</li>
						<li>
				<a href="http://www.mizuki2.com" target="_blank">
					酒店设计公司
				</a>
			</li>
						<li>
				<a href="http://liyang.qizuang.com/" target="_blank">
					溧阳装修网
				</a>
			</li>
						<li>
				<a href="http://www.jkdzs.com/" target="_blank">
					成都工装公司
				</a>
			</li>
						<li>
				<a href="http://www.dgzsgs.com/" target="_blank">
					东莞装修公司
				</a>
			</li>
						<li>
				<a href="http://www.tianxczs.com/" target="_blank">
					芝罘区家装公司
				</a>
			</li>
						<li>
				<a href="http://wh.jiazhuang.com/" target="_blank">
					武汉家装网
				</a>
			</li>
						<li>
				<a href="http://www.top-home.cn/" target="_blank">
					集成墙板
				</a>
			</li>
						<li>
				<a href="http://www.boshireshuiqi.cn/geduanzhuangxiu/" target="_blank">
					写字楼隔断装修
				</a>
			</li>
						<li>
				<a href="http://www.jia.com/yangcheng/" target="_blank">
					阳城装修
				</a>
			</li>
						<li>
				<a href="http://www.guduzx.com/" target="_blank">
					上海办公室装修
				</a>
			</li>
						<li>
				<a href="http://ty.zx123.cn/" target="_blank">
					太原装修公司
				</a>
			</li>
						<li>
				<a href="http://www.hkgulan.com/" target="_blank">
					咖啡厅装修设计
				</a>
			</li>
						<li>
				<a href="http://www.zihuakankan.com/" target="_blank">
					太原网络推广
				</a>
			</li>
						<li>
				<a href="http://top10.chinaceram.cn/" target="_blank">
					瓷砖十大名牌
				</a>
			</li>
						<li>
				<a href="http://jiaju.jc001.cn/" target="_blank">
					家具
				</a>
			</li>
						<li>
				<a href="http://ty.to8to.com/" target="_blank">
					太原装修网
				</a>
			</li>
						<li>
				<a href="http://shafa001.com/" target="_blank">
					沙发价格
				</a>
			</li>
						<li>
				<a href="http://cz.zxzhijia.com/" target="_blank">
					常州装修
				</a>
			</li>
						<li>
				<a href="http://www.tj-lhs.com/" target="_blank">
					天津装修公司
				</a>
			</li>
						<li>
				<a href="http://weihai.leju.com/" target="_blank">
					威海房产
				</a>
			</li>
						<li>
				<a href="http://www.kjshower.com/" target="_blank">
					淋浴房品牌
				</a>
			</li>
						<li>
				<a href="http://www.zhwmzs.com/" target="_blank">
					珠海装修公司
				</a>
			</li>
						<li>
				<a href="http://www.hcasj.com/" target="_blank">
					长沙地暖公司
				</a>
			</li>
						<li>
				<a href="http://www.nblzw.cn/" target="_blank">
					宁波装修公司
				</a>
			</li>
						<li>
				<a href="https://ty.tobosu.com/" target="_blank">
					太原装修网
				</a>
			</li>
						<li>
				<a href="http://dg.mingdiao.com.cn/" target="_blank">
					东莞装饰公司
				</a>
			</li>
									<div class="cl"></div>
		</ul>
	</div>
 -->


	<div class="footER">
		<div class="footERcon">
			<div class="fERle"><div align="center">
	<span style="color:#CCCCCC;">版权所有：晨风佳艺装饰工程有限公司 </span><a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow"><span style="color:#CCCCCC;">晋ICP备15005165号</span></a><span style="line-height:1.5;"></span> 
</div></div>
			<div class="zhiding" onclick="goTop()">
				<img src="/templates/default/images/zhiding.png" alt="">
			</div>
		</div>
	</div>
</div>

<!-- 底部漂浮框 -->
<div class="bot_piaofu">
	<div class="bot_piaofus">
		<form action="index.php?a=gbook_save" method="post" name="myform" onSubmit="return doSubmits1()">
		<div class="bot_piaofu_a fl">
			<a href="/index?#jsq">
			<img src="/templates/default/images/d1.png" alt="">
			</a>
			<div class="cl"></div>
		</div>
		<div class="bot_piaofu_b fl" onclick="$('#toumingbaojia').show();">
			<img src="/templates/default/images/d2.png" alt="">
			<div class="cl"></div>
		</div>
		<div class="bot_piaofu_c fl">
			<select class="bot_type" name="lc_type" id="lc_type">
		      	
		        		            <option value = "办公类">办公类</option>
		        		            <option value = "餐饮类">餐饮类</option>
		        		            <option value = "娱乐类">娱乐类</option>
		        		            <option value = "店铺类">店铺类</option>
		        		            <option value = "商业类">商业类</option>
		        		            <option value = "其他类">其他类</option>
		        		    </select>
		</div>
		<div class="bot_piaofu_d fl">
			<input type="text" name="lc_name" id="bot_name" class="bot_name" placeholder="请输入您的称呼">
		</div>
		<div class="bot_piaofu_e fl">
			<input type="text" name="lc_tel" id="bot_tel" class="bot_tel" placeholder="请输入您的手机号码">
		</div>
		<div class="bot_piaofu_f fl">
			<input type="image" src="/templates/default/images/d3.png" alt="" class="bot_sub">
		</div>
		<div class="bot_piaofu_g fl">
			<div class="bot_piaofu_gs"></div>
		</div>
		<div class="bot_piaofu_h fl">
			<img src="/templates/default/images/bout_piaofu_nth.png" alt="">
		</div>
		<div class="bot_piaofu_r fl">
			咨询热线：
		</div>
		<div class="bot_piaofu_j fl">
			
			<div class="bot_piaofu_j1">
				<strong><span>400 669 6658</span></strong>
			</div>
			<!--  
			<div class="bot_piaofu_j1">
				<br />
			</div> -->
		</div>
		<div class="bot_piaofu_k fr">
			<img src="/templates/default/images/x.png" alt="">
		</div>
		<div class="cl"></div>
		</form>
		<script>
			$('.bot_piaofu_k').click(function(){
				$('.bot_piaofu').hide();
			});
		</script>
	</div>
</div>
<div class="toumingbaojia" id="toumingbaojia">
	<div class="toumingbaojia_top">
		<div class="touming_tit">
			免费预约报名
		</div>
		<div class="touming_righ" onclick="$('#toumingbaojia').hide();">
			<img src="/templates/default/images/x.png" alt="">
		</div>
	</div>
	<div class="toumingbaojia_con">
		<div class="toumingbaojia_from">
			<form action="index.php?a=gbook_save" method="post" name="myform" onSubmit="return doSubmits2()">
				<table width="620" cellspacing="5" cellpadding="0" border="0" align="center">
					<tbody>
						<tr>
							<td colspan="2" style="font-size:18px; line-height:25px" valign="middle" height="60" align="center">感谢您领取透明装修报价
								<br>请留下您的信息，方便我们为您提供更贴心的服务</td>
						</tr>
						<tr>
							<td style="text-align:auto;" width="188" height="40" align="right">您的姓名:</td>
							<td width="417" height="40" align="left">
								<input name="lc_name" class="xf_baominginput" id="xf_tc_title" size="35" maxlength="10" placeholder="请输入您的称呼" type="text">
							</td>
						</tr>
						<tr>
							<td valign="middle" height="40" align="right">您的小区:</td>
							<td align="left">
								<input name="lc_lp" class="xf_baominginput" id="xf_tc_address" size="35" maxlength="50" placeholder="" type="text">
							</td>
						</tr>
						<tr>
							<td valign="middle" height="40" align="right">您的手机号:</td>
							<td align="left">
								<input name="lc_tel" class="xf_baominginput" id="xf_tc_tel" size="35" maxlength="11" placeholder="请输入您的手机号码" type="text">
							</td>
						</tr>
						<tr>
							<td height="40" align="right">&nbsp;</td>
							<td height="40">
								<input value="确定报名" class="xf_querena" type="submit">
								<div class="xf_closea" onclick="$('#xf_baomingdiv').hide();">关闭窗口</div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>



<script type="text/javascript">
	function newgdcode(obj,url) {
	  obj.src = url+ '&nowtime=' + new Date().getTime();//后面传递一个随机参数，否则在IE7和火狐下，不刷新图片
	}
	// 表单提交客户端检测
	function Isyx(yx){
	  var reyx= /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
	  return(reyx.test(yx));
	}
	function doSubmits1(){
	     var bot_name = $('#bot_name').val();
	     var bot_tel = $('#bot_tel').val();
	     var lc_type = $('#lc_type').val();
	        if (bot_name==""){
	        alert("亲，请填写姓名！");
	            document.getElementById("lc_name_yuyue").focus();
	            return false;
	        }
	        if (bot_tel==""){
	        alert("亲，请填写联系电话！");
	            document.getElementById("bot_tel").focus();
	            return false;
	        }
	        var reg_yuyue =/(^0{0,1}1[3|4|5|6|7|8|9][0-9]{9}$)/; 
	        if(!reg_yuyue.test(document.getElementById("bot_tel").value)){ 
	        alert("亲，请输入正确的联系电话！");
	            document.getElementById("bot_tel").focus();
	            return false; 
	        }
		return true;
	}
</script>
<script type="text/javascript">
	function newgdcode(obj,url) {
	  obj.src = url+ '&nowtime=' + new Date().getTime();//后面传递一个随机参数，否则在IE7和火狐下，不刷新图片
	}
	// 表单提交客户端检测
	function Isyx(yx){
	  var reyx= /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
	  return(reyx.test(yx));
	}
	function doSubmits2(){
	     var xf_tc_title = $('#xf_tc_title').val();
	     var xf_tc_tel = $('#xf_tc_tel').val();
	     var xf_tc_address = $('#xf_tc_address').val();

	        if (xf_tc_title==""){
	        alert("亲，请填写姓名！");
	            document.getElementById("xf_tc_title").focus();
	            return false;
	        }

	        if(!xf_tc_address){
			  	alert('请填写地址');
			  	return false;
			  }

	        if (xf_tc_tel==""){
	        alert("亲，请填写联系电话！");
	            document.getElementById("xf_tc_tel").focus();
	            return false;
	        }
	        var reg_yuyue =/(^0{0,1}1[3|4|5|6|7|8|9][0-9]{9}$)/; 
	        if(!reg_yuyue.test(document.getElementById("xf_tc_tel").value)){ 
	        alert("亲，请输入正确的联系电话！");
	            document.getElementById("xf_tc_tel").focus();
	            return false; 
	        }

		return true;
	}
</script>


<!-- 右侧漂浮框 -->
<div class="piaofu">
	<ul class="piaofu_ul">
		<li>
			
			<!-- <a target="_blank" href=""> -->
			<a target="_blank" href="http://p.qiao.baidu.com/cps/chatIndex?reqParam=%7B%22from%22%3A0%2C%22sid%22%3A%22-100%22%2C%22tid%22%3A%2242865%22%2C%22ttype%22%3A1%2C%22siteId%22%3A%2211267943%22%2C%22userId%22%3A%2221888130%22%2C%22pageId%22%3A0%7D" rel="nofollow">
			<div class="piaofu_li_nth">
				<img src="/templates/default/images/right_nth1.png" alt="">
			</div>
			<div class="piaofu_li_tit">
				在线客服
			</div>
			</a>
		</li>
		<li>
			<a href="index?#yy">
			<div class="piaofu_li_nth">
				<img src="/templates/default/images/right_nth2.png" alt="">
			</div>
			<div class="piaofu_li_tit">
				预约设计
			</div>
			</a>
		</li>
		<li class="right_erweima_li">
			
			<div class="piaofu_li_nth">
				<img src="/templates/default/images/right_nth3.png" alt="">
			</div>
			<div class="piaofu_li_tit">
				扫一扫
			</div>
			<div class="piaofu_li_weixin">
				<img src="../uploadfile/image/20170915/20170915035203_53843.jpg" alt="" width="91" height="91" title="" align="" />
			</div>
		</li>
		<li onclick="goTop()">
			<div class="piaofu_li_nth">
				<img src="/templates/default/images/right_nth4.png" alt="">
			</div>
			<div class="piaofu_li_tit">
				返回顶部
			</div>
		</li>
	</ul>
</div>
	<script>
		$(window).scroll(function () {
			var Top = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
			if(Top>300){
				$('.piaofu').show(500);
			}else{
				$('.piaofu').hide(500);
			}
		});
		function goTop(){
	        $('html,body').animate({'scrollTop':0},1000);
	    }
	</script>



<!-- 回到顶部函数 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?db8dab0bd34b20cc08d08d77e0e076f3";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


<!--底部 结束-->
</body>

</html>